*{
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu-icon{
    font-size: 2rem;
    color: white;
    background: none;
    cursor: pointer;
    width: 25px;
    height: 3px;
    margin: 2px 0;
    background-color: white;
    display: none;
}
.navelink{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
position: sticky;
    top: 0;
    background-color: #333;
}
.findLog{
    font-size: 2rem;
    color:orange;
}
.navebarlink{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navebarlink li{
    margin: 0 1rem;
}
.navebarlink a{
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
}
.navebarlink a:hover{
    color: #2062f0;
}
@media (max-width: 768px) {
    .navebarlink{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .navebarlink.active{
        display: flex;
    }
    .menu-icon{
        display: block;
    }
}